# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/data_source_mapping.xml
/dataSources.xml
/sqldialects.xml
/vcs.xml
/go.imports.xml
/queries/Query.sql
/db-forest-config.xml
/queries/Query_1.sql
/queries/Query_2.sql
/queries/Query_3.sql
/queries/Query_4.sql
